TWILIO_ACCOUNT_SID=Your_Twilio_Account_SID
TWILIO_AUTH_TOKEN=Your_Twilio_Auth_Token
TWILIO_NUMBER=+1234567890
HUBSPOT_ACCESS_TOKEN=pat-na0-abcde1234-efghi-4ab2-br6ty-0abcdefghijk
STAFF_PHONE=+1234567890
APPROVED_STAFF_NUMBERS=+1234567890
COMPANY_NAME=Your_Company_Name